/* Will define variables a little further into this exercise */

body {
  background-color: #FFE4C4;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  color: #A0522D;
  padding-top: 15px;
  text-align: center;
}

.my-button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #ffad33;
  color: #FFEFD5;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  /*padding: 10px;*/
  border-radius: 15px;
  border-bottom: 2px solid #2b2b2b;
  transition-duration: 0.4s;
  transition-property: opacity;
  /* Will adjust depending on final outlook */
  width: 70%;
  max-width: 550px;
  min-width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.my-button:hover,
.my-button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.listing {
  text-align: center;
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

.pokemon-list li {
  margin: 0;
}

/* Will improve this part once the site has a little more content and button sizes are clear*/
@media all and (max-width: 750px) {
  .pokemon-list li {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
