* {
  box-sizing: border-box;
}

body {
  background: no-repeat right/50% url("../img/background.jpg"); /*Source: https://wallpapercave.com/wp/wp1864333.jpg */
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Shojumaru', cursive;
}

.page-header {
  display: flex;
  position: fixed;
  background-image: linear-gradient(to right, #030915, #054a85);
  border-bottom: 1px solid black;
  max-height: 50px;
  top: 0;
  width: 100%;
}

.page-header__item {
  flex: 0 1 200px;
  padding: 0;
}

/* logo specs */
.page-header__item:first-child {
  padding: 0px;
  height: 40px;
}

/* navbar specs */
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  padding-top: 0px;
  margin-right: 5%;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  max-width: 90%;
}

.navigation-list a {
  color: white;
  font-size: 8px;
  font-weight: 200;
  text-decoration: none;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  color: #FFEFD5;
  padding-top: 15px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 4px;
  text-shadow: 2px 2px 20px grey;
}

.my-button {
  font-family: inherit;
  background-image: linear-gradient(to bottom right, #418ced, #030915);
  color: #FFEFD5;
  border: 1px solid black;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: capitalize;
  box-shadow: 2px 2px 15px black;
  border-radius: 50px 15px 50px 15px;
  transition-duration: 0.4s;
  transition-property: opacity;
  width: 100%;
  max-width: 500px;
  min-width: 215px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-shadow: 2px 2px 15px black;
}

.my-button:hover,
.my-button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.listing {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  margin-left: 10%;
  width: 450px;
}

.pokemon-list {
  margin-top: 90px;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.pokemon-list li {
  margin: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* To show it above other content */
  z-index: 999;

  /* To allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* To center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 50px;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 450px;
  text-align: center;
  background: no-repeat top/15px url("../img/modal.jpg"); /* Source: https://wallpapercave.com/wp/J7UPnu1.jpg */
  background-size: cover;
  background-color: #000;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 15px black;
  opacity: 0.6;
  font-family: inherit;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  opacity: 0.8;
}

.modal h1 {
  margin-top: 10px;
  text-align: center;
}

.modal p {
  text-align: center;
  text-transform: capitalize;
  color: #FFEFD5;
  letter-spacing: 2px;
  color: #FFEFD5;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 2px 2px 15px black;
  margin: 5px;
}

.modal img {
  border-radius: 50%;
  box-shadow: 2px 2px 15px green inset;
}

/* Will improve this part once the site has a little more content and button sizes are clear*/


@media all and (max-width: 600px) {
  body {
    background: no-repeat url("../img/mobilebackground.jpg"); /* Source: https://img.wallpapersafari.com/tablet/800/1280/62/7/v1MDdT.jpg */
    background-size: cover;
    background-attachment: fixed;
  }

  .page-header {
    max-height: 70px;
    width: 100%;
  }

  .page-header__item:first-child {
    margin-top: 15px;
    margin-left: 10px;
  }

  .navigation-list li {
    display: grid;
    margin-bottom: 5px;
    margin-left: 15px;
    color: white;
    max-width: 90%;
  }

  .listing {
    float: none;
    width: 80%;
  }
}
